In [31]:
#podstawowe struktury danych biblioteki PANDAS
import pandas as pd
import numpy as np

In [32]:
#struktura Series
obj = pd.Series([4,11,-5,10])
obj

In [33]:
obj.values

In [34]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
obj2 = pd.Series([4,7,-5,3], index=['a','b','cos','tam'])
obj2

In [36]:
obj2['a']

4

In [37]:
obj2['k'] = 144
obj2

In [38]:
obj2[['tam','b','a']]

In [39]:
obj2[obj2>5]

In [40]:
obj2*3

In [41]:
'a' in obj2

True

In [42]:
'p' in obj2

False

In [43]:
sdata = {'Warszawa':44673,'Kraków':43564,'Lublin':39900,'Gdańsk':41900}

In [44]:
obj3 = pd.Series(sdata)
obj3

In [45]:
miasta = ["Poznań","Kraków","Rzeszów","Lublin"]
obj4 = pd.Series(sdata,index=miasta)
obj4

In [46]:
pd.isnull(obj4)

In [47]:
obj3+obj4

In [48]:
#obiekt DataFrame
dataf = {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,2.93,0.85,0.88,0.91]
}

frame = pd.DataFrame(dataf)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,2.93
3,Kraków,2018,0.85
4,Kraków,2019,0.88
5,Kraków,2020,0.91

In [49]:
frame2 = pd.DataFrame(dataf,columns=['rok','miasto','populacja','współczynnik wagi'],
                      index=['jeden','dwa','trzy','cztery','pięc','sześc'])
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,2.93,NaN
cztery,2018,Kraków,0.85,NaN
pięc,2019,Kraków,0.88,NaN
sześc,2020,Kraków,0.91,NaN

In [50]:
frame2['współczynnik wagi'] = 19.99
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,2.93,19.99
cztery,2018,Kraków,0.85,19.99
pięc,2019,Kraków,0.88,19.99
sześc,2020,Kraków,0.91,19.99

In [55]:
frame2['współczynnik wagi'] = np.array([15.6,17.33,1.1,6.7,0.44,2])

In [56]:
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,15.60
dwa,2018,Warszawa,2.75,17.33
trzy,2019,Warszawa,2.93,1.10
cztery,2018,Kraków,0.85,6.70
pięc,2019,Kraków,0.88,0.44
sześc,2020,Kraków,0.91,2.00

In [66]:
daty = pd.date_range("20241205",periods=6)
daty

DatetimeIndex(['2024-12-05', '2024-12-06', '2024-12-07', '2024-12-08',
               '2024-12-09', '2024-12-10'],
              dtype='datetime64[ns]', freq='D')

In [67]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2024-12-05,0.865184,-0.691648,1.265859,2.156444
2024-12-06,-1.958015,-0.713372,-1.120341,1.780456
2024-12-07,-0.399324,-0.063738,1.328009,-0.735588
2024-12-08,-1.284877,1.343346,0.645650,0.561275
2024-12-09,-0.826671,-0.256820,1.592432,0.751353
2024-12-10,-1.284493,0.986859,-0.649270,-1.124292

In [69]:
fr.head(2)

,A,B,C,D
2024-12-05,0.865184,-0.691648,1.265859,2.156444
2024-12-06,-1.958015,-0.713372,-1.120341,1.780456

In [70]:
fr.tail(3)

,A,B,C,D
2024-12-08,-1.284877,1.343346,0.645650,0.561275
2024-12-09,-0.826671,-0.256820,1.592432,0.751353
2024-12-10,-1.284493,0.986859,-0.649270,-1.124292

In [71]:
fr.to_numpy()

In [72]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,-0.814699,0.100771,0.510390,0.564941
std,0.974026,0.868889,1.134234,1.310725
min,-1.958015,-0.713372,-1.120341,-1.124292
25%,-1.284781,-0.582941,-0.325540,-0.411372
50%,-1.055582,-0.160279,0.955754,0.656314
75%,-0.506161,0.724210,1.312471,1.523181
max,0.865184,1.343346,1.592432,2.156444

In [73]:
fr.T

,2024-12-05,2024-12-06,2024-12-07,2024-12-08,2024-12-09,2024-12-10
A,0.865184,-1.958015,-0.399324,-1.284877,-0.826671,-1.284493
B,-0.691648,-0.713372,-0.063738,1.343346,-0.256820,0.986859
C,1.265859,-1.120341,1.328009,0.645650,1.592432,-0.649270
D,2.156444,1.780456,-0.735588,0.561275,0.751353,-1.124292

In [75]:
fr.sort_index(axis=1,ascending=False)

,D,C,B,A
2024-12-05,2.156444,1.265859,-0.691648,0.865184
2024-12-06,1.780456,-1.120341,-0.713372,-1.958015
2024-12-07,-0.735588,1.328009,-0.063738,-0.399324
2024-12-08,0.561275,0.645650,1.343346,-1.284877
2024-12-09,0.751353,1.592432,-0.256820,-0.826671
2024-12-10,-1.124292,-0.649270,0.986859,-1.284493

In [76]:
fr.sort_values(by="B",ascending=False)

,A,B,C,D
2024-12-08,-1.284877,1.343346,0.645650,0.561275
2024-12-10,-1.284493,0.986859,-0.649270,-1.124292
2024-12-07,-0.399324,-0.063738,1.328009,-0.735588
2024-12-09,-0.826671,-0.256820,1.592432,0.751353
2024-12-05,0.865184,-0.691648,1.265859,2.156444
2024-12-06,-1.958015,-0.713372,-1.120341,1.780456