In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=4,suppress=True)

In [2]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
!ls -l

total 3
drwxr-xr-x 2 datalore datalore 1064 Dec  5 12:46 dane
-rw-r--r-- 1 datalore datalore  110 Dec  5 12:43 environment.yml
drwx------ 2 datalore datalore   64 Dec  5 12:43 lost+found

In [4]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [5]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('dane/ex2.csv',header=None,names=['moje a','twoje b','nasze c','ich d','takie tam'])

,moje a,twoje b,nasze c,ich d,takie tam
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [9]:
names = ['a1','b1','c1','d1','info']
pd.read_csv('dane/ex2.csv',names=names,index_col='info')

,a1,b1,c1,d1
info,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [10]:
!cat dane/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
parsed = pd.read_csv('dane/csv_mindex.csv',index_col=['key1','key2'])
parsed

In [12]:
!cat dane/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [13]:
pd.read_json('dane/example.json')

,a,b,c
0,1,2,3
1,4,5,6
2,7,8,9

In [17]:
akcje = pd.read_pickle("dane/yahoo_price.pkl")

In [18]:
akcje

,AAPL,GOOG,IBM,MSFT
Date,,,,
2010-01-04,27.990226,313.062468,113.304536,25.884104
2010-01-05,28.038618,311.683844,111.935822,25.892466
2010-01-06,27.592626,303.826685,111.208683,25.733566
2010-01-07,27.541619,296.753749,110.823732,25.465944
2010-01-08,27.724725,300.709808,111.935822,25.641571
...,...,...,...,...
2016-10-17,117.550003,779.960022,154.770004,57.220001
2016-10-18,117.470001,795.260010,150.720001,57.660000
2016-10-19,117.120003,801.500000,151.259995,57.529999
2016-10-20,117.059998,796.969971,151.520004,57.250000
2016-10-21,116.599998,799.369995,149.630005,59.660000

In [19]:
akcje.to_csv('dane/akcje.csv')

In [21]:
akcje.to_html('dane/akcje.html')

In [22]:
akcje.to_xml('dane/akcje.xml')

In [23]:
pd.read_table('dane/segismundo.txt')

,"Sueña el rico en su riqueza,"
0,que más cuidados le ofrece;
1,sueña el pobre que padece
2,su miseria y su pobreza;
3,"sueña el que a medrar empieza,"
4,"sueña el que afana y pretende,"
5,"sueña el que agravia y ofende,"
6,"y en el mundo, en conclusión,"
7,"todos sueñan lo que son,"
8,aunque ninguno lo entiende.