In [31]:
#podstawowe struktury danych biblioteki PANDAS
import pandas as pd
import numpy as np

In [32]:
#struktura Series
obj = pd.Series([4,11,-5,10])
obj

In [33]:
obj.values

In [34]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
obj2 = pd.Series([4,7,-5,3], index=['a','b','cos','tam'])
obj2

In [36]:
obj2['a']

4

In [37]:
obj2['k'] = 144
obj2

In [38]:
obj2[['tam','b','a']]

In [39]:
obj2[obj2>5]

In [40]:
obj2*3

In [41]:
'a' in obj2

True

In [42]:
'p' in obj2

False

In [43]:
sdata = {'Warszawa':44673,'Kraków':43564,'Lublin':39900,'Gdańsk':41900}

In [44]:
obj3 = pd.Series(sdata)
obj3

In [45]:
miasta = ["Poznań","Kraków","Rzeszów","Lublin"]
obj4 = pd.Series(sdata,index=miasta)
obj4

In [46]:
pd.isnull(obj4)

In [47]:
obj3+obj4

In [48]:
#obiekt DataFrame
dataf = {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,2.93,0.85,0.88,0.91]
}

frame = pd.DataFrame(dataf)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,2.93
3,Kraków,2018,0.85
4,Kraków,2019,0.88
5,Kraków,2020,0.91

In [49]:
frame2 = pd.DataFrame(dataf,columns=['rok','miasto','populacja','współczynnik wagi'],
                      index=['jeden','dwa','trzy','cztery','pięc','sześc'])
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,2.93,NaN
cztery,2018,Kraków,0.85,NaN
pięc,2019,Kraków,0.88,NaN
sześc,2020,Kraków,0.91,NaN

In [50]:
frame2['współczynnik wagi'] = 19.99
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,19.99
dwa,2018,Warszawa,2.75,19.99
trzy,2019,Warszawa,2.93,19.99
cztery,2018,Kraków,0.85,19.99
pięc,2019,Kraków,0.88,19.99
sześc,2020,Kraków,0.91,19.99

In [55]:
frame2['współczynnik wagi'] = np.array([15.6,17.33,1.1,6.7,0.44,2])

In [56]:
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,15.60
dwa,2018,Warszawa,2.75,17.33
trzy,2019,Warszawa,2.93,1.10
cztery,2018,Kraków,0.85,6.70
pięc,2019,Kraków,0.88,0.44
sześc,2020,Kraków,0.91,2.00